@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background-color: black;
}

input,
button,
textarea,
select {
    font: inherit;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

h6 {
    font-weight: bold;
}
